:root {
  /* font */
  --font-family-monospace: sfmono-regular, menlo, monaco, consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Segoe UI',
    roboto, 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  /* breakpoints */
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xl: 1200px;
  --breakpoint-xs: 0;

  /* colors */
  --black: #212529;
  --blue: #007bff;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --green: #28a745;
  --indigo: #6610f2;
  --light: #f8f9fa;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --purple: #6f42c1;
  --red: #dc3545;
  --teal: #20c997;
  --white: #fff;
  --yellow: #ffc107;

  /* styles */
  --danger: var(--red);
  --info: var(--cyan);
  --primary: var(--blue);
  --secondary: var(--gray);
  --success: var(--green);
  --warning: var(--yellow);
}

html {
  font-family: sans-serif;
}

@media (min-width: 540px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-dark);
  text-align: left;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
