:root {
  /* font */
  --font-family-monospace: sfmono-regular, menlo, monaco, consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Segoe UI',
    roboto, 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  /* breakpoints */
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xl: 1200px;
  --breakpoint-xs: 0;

  /* base rgb colors */
  --black-rgb: 33 37 41;
  --blue-rgb: 0 123 255;
  --cyan-rgb: 23 162 184;
  --gray-rgb: 108 117 125;
  --gray-dark-rgb: 52 58 64;
  --green-rgb: 40 167 69;
  --indigo-rgb: 102 16 242;
  --light-rgb: 248 249 250;
  --orange-rgb: 253 126 20;
  --pink-rgb: 232 62 140;
  --purple-rgb: 111 66 193;
  --red-rgb: 220 53 69;
  --teal-rgb: 32 201 151;
  --white-rgb: 255 255 255;
  --yellow-rgb: 255 193 7;

  /* colors */
  --black: rgb(var(--black-rgb));
  --blue: rgb(var(--blue-rgb));
  --cyan: rgb(var(--cyan-rgb));
  --gray: rgb(var(--gray-rgb));
  --gray-dark: rgb(var(--gray-dark-rgb));
  --green: rgb(var(--green-rgb));
  --indigo: rgb(var(--indigo-rgb));
  --light: rgb(var(--light-rgb));
  --orange: rgb(var(--orange-rgb));
  --pink: rgb(var(--pink-rgb));
  --purple: rgb(var(--purple-rgb));
  --red: rgb(var(--red-rgb));
  --teal: rgb(var(--teal-rgb));
  --white: rgb(var(--white-rgb));
  --yellow: rgb(var(--yellow-rgb));

  /* styles */
  --danger: var(--red);
  --info: var(--cyan);
  --primary: var(--blue);
  --secondary: var(--gray);
  --success: var(--green);
  --warning: var(--yellow);
}

html {
  font-family: sans-serif;
}

@media (min-width: 540px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-dark);
  text-align: left;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
