$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xl: 1200px;
$breakpoint-xs: 0;

.card {
  border: 1px solid var(--gray-dark);
  background-color: var(--white);
  color: var(--gray-dark);
  cursor: pointer;
  flex: 1;
  transition-duration: 0.25s;
  transition-property: background-color, border, box-shadow, color;
  transition-timing-function: ease-in-out;

  div,
  h2 {
    padding: 1em 2em;
  }

  h2 {
    background: var(--white)
      linear-gradient(
        -180deg,
        var(--white) 0%,
        rgb(var(--gray-dark-rgb) / 10%) 100%
      );
    border-bottom: 1px solid var(--gray-dark);
    color: var(--primary);
    display: flex;
    font-size: 1.25em;
    font-weight: 500;
    justify-content: center;
    margin: 0;
    place-items: center;
    transition-duration: 0.25s;
    transition-property: border, color;
    transition-timing-function: ease-in-out;

    span {
      margin-left: 1em;
    }
  }

  .fee {
    color: var(--primary);
    transition: color 0.25s ease-in-out;
  }

  &.disabled,
  &.selected {
    h2 {
      transition-property: border, background, color;
    }
  }

  &.disabled {
    background-color: rgb(var(--gray-rgb) / 2.5%);
    color: var(--gray);

    h2 {
      background: rgb(var(--gray-rgb) / 2.5%);
      color: inherit;
    }

    .fee {
      color: inherit;
    }
  }

  &.selected {
    border-color: var(--primary);
    box-shadow: 0 0 1em 0.25em rgb(var(--gray-rgb) / 50%);

    h2 {
      background: var(--primary);
      border-color: var(--primary);
      color: var(--white);
    }

    .fee {
      color: var(--primary);
    }
  }

  &.error {
    border-color: rgb(var(--red-rgb) / 75%);

    h2 {
      border-color: rgb(var(--red-rgb) / 75%);
    }
  }

  &:not(.selected):hover {
    background-color: var(--white);
    border-color: rgb(var(--blue-rgb) / 50%);
    color: var(--gray-dark);

    h2 {
      background: rgb(var(--gray-rgb) / 2.5%);
      border-bottom-color: rgb(var(--blue-rgb) / 50%);
      color: var(--primary);
    }

    .fee {
      color: var(--primary);
    }
  }

  ul {
    list-style-type: '🗸';
    margin-left: -1.5em;
    margin-top: 1em;

    li {
      font-size: 1.25em;
      font-weight: 200;
      line-height: 1em;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      span {
        display: flex;
        font-size: 0.8em;
        font-weight: 400;
        margin-left: 0.5em;
      }
    }
  }
}

@media (max-width: $breakpoint-lg - 1px) {
  .card ul {
    display: flex;
    flex-flow: row wrap;

    li {
      min-width: 196px;
      flex: 1;
    }
  }
}
